* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Montserrat";
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  max-width: 1240px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto 1rem auto;
}
.nav img {
  margin: 0 50rem 0 0;
}
.nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
.nav .navBarLink {
  color: inherit;
  font-weight: 500;
  color: #FF6060;
  text-decoration: none;
}
.nav .active {
  text-decoration: underline;
}

@media (max-width: 1230px) {
  .nav {
    max-width: 900px;
  }
  .nav img {
    margin: 0 20rem 0 0;
  }
}
@media (max-width: 920px) {
  .nav {
    max-width: 700px;
  }
  .nav img {
    margin: 0 10rem 0 0;
  }
}
@media (max-width: 610px) {
  .nav {
    margin: 1rem;
    flex-wrap: nowrap;
    align-items: center;
  }
  .nav img {
    width: 100%;
    height: 36px;
    margin: 0;
  }
  .nav ul {
    padding-top: 1rem;
  }
}
.container {
  margin-bottom: 10rem;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: none;
  }
}
@media (min-width: 920px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 860px;
  }
}
@media (min-width: 1230px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: none;
  }
}
@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1270px;
  }
}
.homeBackground {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 2rem 0 4rem 0;
  max-width: 100%;
}
.homeBackground .homeBackgroundImage {
  border-radius: 25px;
  filter: brightness(70%);
  max-width: 100%;
}
.homeBackground .homeBackgroundTitle {
  color: #FFFFFF;
  position: absolute;
  font-size: 48px;
  font-weight: 500;
}

@media (max-width: 1230px) {
  .homeBackground .homeBackgroundImage {
    height: 12rem;
  }
  .homeBackground .homeBackgroundTitle {
    font-size: 36px;
  }
}
@media (max-width: 920px) {
  .homeBackground .homeBackgroundTitle {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .homeBackground {
    margin: 1rem;
  }
  .homeBackground .homeBackgroundImage {
    height: 8rem;
  }
  .homeBackground .homeBackgroundTitle {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .homeBackground {
    margin: 0;
  }
  .homeBackground .homeBackgroundImage {
    height: 8rem;
  }
  .homeBackground .homeBackgroundTitle {
    font-size: 24px;
    padding: 4rem 7rem 4rem 1rem;
    justify-content: flex-start;
    display: flex;
  }
}
.accomodationCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 2rem 1rem;
  border-radius: 25px;
  max-width: 1240px;
}
.accomodationCardsContainer .accomodationCards {
  width: 340px;
  height: 340px;
  margin: 1.5rem;
  position: relative;
}
.accomodationCardsContainer .accomodationCards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.accomodationCardsContainer .accomodationCards p {
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
  font-size: 18px;
  color: #FFFFFF;
}

/* Media Queries Operation */
@media (max-width: 920px) {
  .accomodationCards {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: auto;
  }
}
@media (max-width: 768px) {
  .accomodationCardsContainer {
    background-color: #FFFFFF;
    padding: 0;
  }
  .accomodationCardsContainer .accomodationCards {
    margin: 1rem;
  }
}
@media (max-width: 480px) {
  .accomodationCardsContainer .accomodationCards {
    min-width: 100%;
    height: 255px;
    margin: 1rem;
  }
}
.sliderContainer {
  width: 100%;
  height: 415px;
  position: relative;
  display: flex;
}
.sliderContainer .sliderImage {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
  position: relative;
}
.sliderContainer .sliderPrevArrow {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 2rem;
  cursor: pointer;
}
.sliderContainer .sliderNextArrow {
  position: absolute;
  top: 40%;
  right: 2rem;
  cursor: pointer;
}
.sliderContainer .sliderIndicators {
  position: absolute;
  z-index: 100;
  top: 85%;
  left: 50%;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .sliderContainer {
    height: 255px;
  }
  .sliderContainer .sliderNextArrow {
    height: 20px;
    width: 12px;
    top: 50%;
  }
  .sliderContainer .sliderPrevArrow {
    height: 20px;
    width: 12px;
    top: 50%;
  }
  .sliderContainer .sliderIndicators {
    display: none;
  }
}
.accomodationInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.accomodationInfo .primaryInformation h1 {
  color: #FF6060;
  font-size: 36px;
}
.accomodationInfo .primaryInformation p {
  color: #FF6060;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.accomodationInfo .primaryInformation .accomodationTag {
  background-color: #FF6060;
  margin-right: 1rem;
  font-size: 14px;
  color: #FFFFFF;
  padding: 3px 30px;
  border-radius: 10px;
}
.accomodationInfo .secondaryInformation .hostInformation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.accomodationInfo .secondaryInformation .hostInformation p {
  width: 4rem;
  text-align: end;
  margin-right: 1rem;
  margin-top: 1rem;
  color: #FF6060;
}
.accomodationInfo .secondaryInformation .hostInformation img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.accomodationInfo .secondaryInformation .ratingsInformation {
  margin-top: 1rem;
}
.accomodationInfo .secondaryInformation .ratingsInformation i {
  color: #E3E3E3;
  font-size: 42px;
  margin-right: 0.5rem;
}
.accomodationInfo .secondaryInformation .ratingsInformation i.colored {
  color: #FF6060;
  font-size: 42px;
  margin-right: 0.5rem;
}

/* Media Queries Operation */
@media (max-width: 920px) {
  .accomodationInfo {
    flex-direction: column;
  }
  .accomodationInfo .primaryInformation h1 {
    font-size: 18px;
  }
  .accomodationInfo .primaryInformation p {
    font-size: 14px;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }
  .accomodationInfo .primaryInformation .accomodationTag {
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 5px;
  }
  .accomodationInfo .secondaryInformation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .accomodationInfo .secondaryInformation .hostInformation p {
    font-size: 12px;
  }
  .accomodationInfo .secondaryInformation .hostInformation img {
    width: 32px;
    height: 32px;
  }
  .accomodationInfo .secondaryInformation .ratingsInformation i {
    font-size: 15px;
  }
  .accomodationInfo .secondaryInformation .ratingsInformation i.colored {
    font-size: 15px;
  }
}
.accordionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #FFFFFF;
}

.accordionContainer {
  box-shadow: 12px;
  max-width: 1023px;
}

.accordionButtonWrap {
  width: 1023px;
  height: 47px;
  background: #FF6060;
  color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 2rem;
}
.accordionButtonWrap h1 {
  font-size: 24px;
  margin: 0;
}

.dropdownContent {
  color: #FF6060;
  font-size: 24px;
  margin-top: -2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #F6F6F6;
  border-radius: 5px;
}

.accomodationDropdownSection {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.accomodationDropdownSection .accordionContainer {
  max-width: 100%;
}
.accomodationDropdownSection .accordionButtonWrap {
  width: 582px;
  height: 52px;
}
.accomodationDropdownSection .accordionButtonWrap h1 {
  font-size: 18px;
  margin: 0;
}
.accomodationDropdownSection .dropdownContent {
  width: 582px;
  height: 249px;
  font-size: 18px;
  padding: 1rem;
  list-style-type: none;
  line-height: 25px;
  overflow: auto;
}

@media (max-width: 1230px) {
  .accomodationDropdownSection .accordionButtonWrap {
    width: 380px;
  }
  .accomodationDropdownSection .dropdownContent {
    width: 380px;
  }
}
@media (max-width: 920px) {
  .accomodationDropdownSection {
    flex-direction: column;
  }
  .accomodationDropdownSection .accordionButtonWrap {
    width: 480px;
  }
  .accomodationDropdownSection .dropdownContent {
    width: 480px;
    height: auto;
  }
}
@media (max-width: 490px) {
  .accomodationDropdownSection {
    flex-direction: column;
  }
  .accomodationDropdownSection .accordionButtonWrap {
    width: auto;
    height: 30px;
  }
  .accomodationDropdownSection .accordionButtonWrap h1 {
    font-size: 13px;
  }
  .accomodationDropdownSection .accordionButtonWrap img {
    width: 15.2px;
    height: 8.96px;
  }
  .accomodationDropdownSection .dropdownContent {
    width: inherit;
    height: auto;
    font-size: 12px;
  }
  .accomodationDropdownSection .accordionContainer {
    width: 100%;
  }
}
.aboutBackground {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 4rem;
}
.aboutBackground .aboutBackgroundImage {
  border-radius: 25px;
  filter: brightness(70%);
  max-width: 100%;
}

@media (max-width: 920px) {
  .aboutBackground {
    margin: 1rem 3rem 3rem 3rem;
  }
  .aboutBackground .aboutBackgroundImage {
    height: 10rem;
  }
}
@media (max-width: 768px) {
  .aboutBackground {
    margin: 1rem 2rem 2rem 2rem;
  }
}
@media (max-width: 480px) {
  .aboutBackground {
    margin: 1rem;
  }
}
@media (max-width: 1230px) {
  .aboutDropdownSection .accordionButtonWrap {
    width: 800px;
  }
  .aboutDropdownSection .dropdownContent {
    width: 800px;
  }
}
@media (max-width: 920px) {
  .aboutDropdownSection .accordionButtonWrap {
    width: 650px;
  }
  .aboutDropdownSection .dropdownContent {
    width: 650px;
  }
}
@media (max-width: 720px) {
  .aboutDropdownSection .accordionButtonWrap {
    width: 500px;
  }
  .aboutDropdownSection .dropdownContent {
    width: 500px;
  }
}
@media (max-width: 520px) {
  .aboutDropdownSection {
    justify-content: center;
    margin: 1rem;
  }
  .aboutDropdownSection .accordionButtonWrap {
    width: auto;
    height: 30px;
  }
  .aboutDropdownSection .accordionButtonWrap h1 {
    font-size: 13px;
  }
  .aboutDropdownSection .accordionButtonWrap img {
    width: 15.2px;
    height: 8.98px;
  }
  .aboutDropdownSection .dropdownContent {
    width: auto;
    font-size: 12px;
  }
  .aboutDropdownSection .accordionContainer {
    width: 100%;
  }
}
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.notFound h1 {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
.notFound p {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
.notFound .link404 {
  margin-top: 6rem;
  font-size: 18px;
  color: #FF6060;
}

@media (max-width: 920px) {
  .notFound h1 {
    font-size: 96px;
    font-weight: 700;
    color: #FF6060;
  }
  .notFound p {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    text-align: center;
  }
  .notFound .link404 {
    margin-top: 6rem;
    font-size: 14px;
    color: #FF6060;
  }
}
footer {
  background-color: #000000;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
}
footer img {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
footer p {
  color: #FFFFFF;
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */