* {
    box-sizing: border-box;
    // position: relative;
}

body {
    margin: auto;
    font-family: 'Montserrat';
}

#root {

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$color-tertiary: #F6F6F6;
$color-fourth: #E3E3E3;
$color-fifth: #000000;



//  +++++++++++++++++++++++++++++++++++++++++ Header with nav menu +++++++++++++++++++++++++++++++++++++++++


.nav {
    max-width: 1240px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 1rem auto;



    img {
        margin: 0 50rem 0 0; 
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    .navBarLink {
        color: inherit;
        font-weight: 500;
        color: $color-primary;
        text-decoration: none;

    }

    .active {
        text-decoration: underline;
    }


}



// /* Media Queries Operation */
@media (max-width: 1230px){
    .nav {
        max-width: 900px;  
        
        img {
            margin: 0 20rem 0 0; 
        }
    }
}

@media (max-width: 920px){
    .nav {
        max-width: 700px;    

        img {
            margin: 0 10rem 0 0; 
        }
    }
}

@media (max-width: 610px) {
    .nav {
    margin: 1rem;
    flex-wrap: nowrap;  
    align-items: center;  

        img {
        width: 100%;
        height: 36px;
        margin: 0; 

        }

        ul {
        padding-top: 1rem;
        }

    }
}



// +++++++++++++++++++++++++++++++++++++++++ Container changes +++++++++++++++++++++++++++++++++++++++++



.container {
    margin-bottom: 10rem;
}

// /* Media Queries Operation */
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: none; 
    }
}

@media (min-width: 920px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 860px;
    }
}

@media (min-width: 1230px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: none;    
}
}

@media (min-width: 1300px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1270px;
}
}



// +++++++++++++++++++++++++++++++++++++++++ Homepage - Picture and Title +++++++++++++++++++++++++++++++++++++++++
 

.homeBackground {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 2rem 0 4rem 0;    
    max-width: 100%;

    .homeBackgroundImage {
        border-radius: 25px;
        filter: brightness(70%);
        max-width: 100%;
    }

    .homeBackgroundTitle {
        color: $color-secondary;
        position: absolute;
        font-size: 48px; 
        font-weight: 500;   
    }
}

// /* Media Queries Operation */
@media (max-width: 1230px) {
    .homeBackground {

        .homeBackgroundImage {
            height: 12rem;
        }

        .homeBackgroundTitle {
            font-size: 36px;
        }
    }
}

@media (max-width: 920px) {
    .homeBackground {

        .homeBackgroundTitle {
            font-size: 24px;
        }
    }
}

@media (max-width: 768px) {
    .homeBackground {
        margin: 1rem;

        .homeBackgroundImage {
            height: 8rem;
        }

        .homeBackgroundTitle {
            font-size: 24px;
        }
    }
}

@media (max-width: 480px) {
    .homeBackground {
        margin: 0;

        .homeBackgroundImage {
            height: 8rem;
        }

        .homeBackgroundTitle {
            font-size: 24px;
            padding: 4rem 7rem 4rem 1rem;
            justify-content: flex-start;
            display: flex;
        }
    }
}



//+++++++++++++++++++++++++++++++++++++++++ Homepage - Accomodation cards +++++++++++++++++++++++++++++++++++++++++


.accomodationCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-tertiary;
    padding: 2rem 1rem;
    border-radius: 25px;
    max-width: 1240px;

    .accomodationCards {
        width: 340px;
        height: 340px;
        margin: 1.5rem;
        position: relative;
  
        img {
            width: 100%;
            height: 100%;
            object-fit:cover;
            object-position: center;
            border-radius: 10px;
        }

        p {
            position: absolute;
            bottom: 0;
            margin-left: 1rem;
            font-size: 18px;
            color: $color-secondary;
        }
    }
}

/* Media Queries Operation */
@media (max-width: 920px) {
    .accomodationCards {
        min-width: fit-content;
        height: auto;
    }
}

@media (max-width: 768px) {
    .accomodationCardsContainer {
        background-color: $color-secondary;
        padding: 0;
        .accomodationCards {
            margin: 1rem;
        }
    }
}

@media (max-width: 480px) {
    .accomodationCardsContainer {

        .accomodationCards {
            min-width: 100%;
            height: 255px;
            margin: 1rem;
        }
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Accomodation Page - Carousel +++++++++++++++++++++++++++++++++++++++++


.sliderContainer {
    width: 100%;
    height: 415px;
    position: relative;
    display: flex;

    .sliderImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
        position: relative;
    }

    .sliderPrevArrow {
        position: absolute;
        z-index: 10;
        top: 40%;
        left: 2rem;
        cursor: pointer;
    }

    .sliderNextArrow {
        position: absolute;
        top: 40%;
        right: 2rem;
        cursor: pointer;
    }

    .sliderIndicators {
        position: absolute;
        z-index: 100;
        top: 85%;
        left: 50%;
        color: $color-secondary;
    }
}


// /* Media Queries Operation */
@media (max-width: 768px) {
    .sliderContainer {
        height: 255px;

        .sliderNextArrow {
            height: 20px;
            width: 12px;
            top: 50%;
        }

        .sliderPrevArrow {
            height: 20px;
            width: 12px;
            top: 50%;
        }

        .sliderIndicators {
            display: none;
        }
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Accomodation Page - Information section +++++++++++++++++++++++++++++++++++++++++


.accomodationInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .primaryInformation {
        h1 {
            color: $color-primary;
            font-size: 36px;
        }

        p {
            color: $color-primary;
            font-size: 18px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        .accomodationTag {
            background-color: $color-primary;
            margin-right: 1rem;
            font-size: 14px;
            color: $color-secondary;
            padding: 3px 30px;
            border-radius: 10px;
        }
    }

    .secondaryInformation {

        .hostInformation {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                width: 4rem;
                text-align: end;
                margin-right: 1rem;
                margin-top: 1rem;
                color: $color-primary;
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 100%;

            }
        }

        .ratingsInformation {
            margin-top: 1rem;

            i{
                color: $color-fourth;
                font-size: 42px;
                margin-right: 0.5rem;
            }
        
            i.colored {
                color: $color-primary;
                font-size: 42px;
                margin-right: 0.5rem;
            }
        }
    }
}

/* Media Queries Operation */
@media (max-width: 920px) {
    .accomodationInfo {
        flex-direction: column;

        .primaryInformation {
            h1 {
                font-size: 18px;
            }
    
            p {
                font-size: 14px;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
            }
    
            .accomodationTag {
                font-size: 10px;
                padding: 1px 12px;
                border-radius: 5px;
            }
        }

        .secondaryInformation {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .hostInformation {
    
                p {

                    font-size: 12px;
                }
    
                img {
                    width: 32px;
                    height: 32px;
    
                }
            }
    
            .ratingsInformation {

                i{
                    font-size: 15px;
                }
            
                i.colored {
                    font-size: 15px;
                }
            }
        }

    }

}


// +++++++++++++++++++++++++++++++++++++++++ Accomodation Page - Dropdown +++++++++++++++++++++++++++++++++++++++++


.accordionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: $color-secondary;
}

.accordionContainer {
    box-shadow: 12px;
    max-width: 1023px;

}

.accordionButtonWrap {
    width: 1023px;
    height: 47px;
    background: $color-primary;
    color: $color-secondary;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 2rem;
    h1 {
        font-size: 24px;
        margin: 0;
    }
}

.dropdownContent {
    color: $color-primary;
    font-size: 24px;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background: $color-tertiary;
    border-radius: 5px;
}


.accomodationDropdownSection {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .accordionContainer {
        max-width: 100%;
    }

    .accordionButtonWrap {
        width: 582px;
        height: 52px;


        h1 {
            font-size: 18px;
            margin: 0;
        }
    }

    .dropdownContent {
        width: 582px;
        height: 249px;
        font-size: 18px;
        padding: 1rem;
        list-style-type: none;
        line-height: 25px;
        overflow: auto;

    }


}

// /* Media Queries Operation */
@media (max-width: 1230px) {
    .accomodationDropdownSection {
        .accordionButtonWrap {
            width: 380px;
        }

        .dropdownContent {
            width: 380px;
        }
    } 
}

@media (max-width: 920px) {
    .accomodationDropdownSection {
        flex-direction: column;
        .accordionButtonWrap {
            width: 480px;
        }

        .dropdownContent {
            width: 480px;
            height: auto;
        }
    } 
}

@media (max-width: 490px) {


    .accomodationDropdownSection {
        flex-direction: column;
        .accordionButtonWrap {
            width: auto;
            height: 30px;

            h1 {
                font-size: 13px;
            }

            img {
                width: 15.2px;
                height: 8.96px;
            }
        }

        .dropdownContent {
            width: inherit;
            height: auto;
            font-size: 12px;
        }

        .accordionContainer{
            width: 100%;
        }
    } 
}


// +++++++++++++++++++++++++++++++++++++++++ About page - Image background +++++++++++++++++++++++++++++++++++++++++


.aboutBackground {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 4rem;

    .aboutBackgroundImage {
        border-radius: 25px;
        filter: brightness(70%);
        max-width: 100%;
    }
}

// /* Media Queries Operation */
@media (max-width: 920px) {
    .aboutBackground {
        margin: 1rem 3rem 3rem 3rem ;

        .aboutBackgroundImage {
            height: 10rem;  
      }
    }
}

@media (max-width: 768px) {
    .aboutBackground {
        margin: 1rem 2rem 2rem 2rem;
    }
}

@media (max-width: 480px) {
    .aboutBackground {
        margin: 1rem;
    }
}


// +++++++++++++++++++++++++++++++++++++++++ About page - Accordion buttons with information +++++++++++++++++++++++++++++++++++++++++




// /* Media Queries Operation */
@media (max-width: 1230px) {
    .aboutDropdownSection {
        .accordionButtonWrap {
            width: 800px;
        }
        
        .dropdownContent {
            width: 800px;
        }
    } 
}

@media (max-width: 920px) {
    .aboutDropdownSection {
        .accordionButtonWrap {
            width: 650px;
        }
        
        .dropdownContent {
            width: 650px;
        }
    } 
}

@media (max-width: 720px) {
    .aboutDropdownSection {
        .accordionButtonWrap {
            width: 500px;
        }
        
        .dropdownContent {
            width: 500px;
        }
    } 
}

@media (max-width: 520px) {
    .aboutDropdownSection {
        justify-content: center;
        margin: 1rem;
        .accordionButtonWrap {
            width: auto;
            height: 30px;

            h1 {
                font-size: 13px;
            }

            img {
                width: 15.2px;
                height: 8.98px;
            }
        }
        
        .dropdownContent {
            width: auto;
            font-size: 12px;
        }

        .accordionContainer{
            width: 100%;
        }
    } 
}


// +++++++++++++++++++++++++++++++++++++++++ Page 404 +++++++++++++++++++++++++++++++++++++++++


.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    h1 {
        font-size: 288px;
        font-weight: 700;
        color: $color-primary;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        color: $color-primary;
    }

    .link404 {
        margin-top: 6rem;
        font-size: 18px;
        color: $color-primary;
    }
}

// /* Media Queries Operation */
@media (max-width: 920px) {
    .notFound {
        h1 {
            font-size: 96px;
            font-weight: 700;
            color: $color-primary;
        }
    
        p {
            font-size: 18px;
            font-weight: 500;
            color: $color-primary;
            text-align: center;
        }
    
        .link404 {
            margin-top: 6rem;
            font-size: 14px;
            color: $color-primary;
        }
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Footer +++++++++++++++++++++++++++++++++++++++++


footer {
    background-color: $color-fifth;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;

    img {
        margin-top: 3.5rem;
        margin-bottom: 2rem;
    }
    p {
        color: $color-secondary;
        font-size: 24px;
    }

}























